*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    background: #faf5e6;   
    font-family: 'Helvetica', sans-serif;
}



.header {
    width: 100%;
    background: #faf5e6;
    border-bottom: 1px solid #e8e3d8;
    padding: 12px 25px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
}



.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-menu a {
    font-size: 15px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.nav-menu a:hover {
    text-decoration: underline;
}



.header-icons {
    display: flex;
    gap: 25px;
}



.icon {
    width: 26px;
    height: 26px;
    position: relative;
}



.search-icon::after {
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
}

.search-icon::before {
    content: "";
    width: 9px;
    height: 2px;
    background: #333;
    position: absolute;
    right: -2px;
    bottom: 3px;
    transform: rotate(45deg);
}



.user-icon::before {
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 6px;
}

.user-icon::after {
    content: "";
    width: 20px;
    height: 10px;
    border: 2px solid #333;
    border-top: none;
    border-radius: 0 0 15px 15px;
    position: absolute;
    bottom: 0;
    left: 1px;
}



.bag-icon {
    border: 2px solid #333;
    border-radius: 4px;
}

.bag-icon::before {
    content: "";
    width: 14px;
    height: 8px;
    border: 2px solid #333;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: -7px;
    left: 4px;
}



.hero {
    width: 100%;
    position: relative;
    background-image: url("https://cdn.shopify.com/s/files/1/1038/1798/files/Maroon-Shades-Color-Palette.png?v=1687326087");

    color: white;
    padding: 40px 0;
    overflow: hidden;
}
.hero-img{
    width: 100%;
    display: block;
}

.right-logo{
    position: absolute;
    right: 40px;
    bottom: 120px;
    width: 100PX;
    height: auto;
    margin-bottom: -100px;
    

}



.lip-strip img{
    height: 40%;
    display: block;
    margin: 0 auto 20px;
    top: 0;
    left: 45%;
    position: absolute;
    transform: translateX(-50%);
    width: 300px;
}



.hero-content {
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 0 auto;
    
}



.hero-left {
    max-width: 500px;
}



.badge {
    background: #f9e6cf;
    color: #000;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    
}



.hero-title {
    font-size: 52px;
    line-height: 1.1;
    font-weight: 600;
    text-transform: lowercase;
}

.hero-title span {
    font-size: 60px;
    font-weight: 700;
}

.hero-text {
    font-size: 17px;
    line-height: 1.5;
    margin: 20px 0 30px;
}



.hero-btn {
    background: white;
    color: #000;
    padding: 14px 26px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
}
.hero-right{
    position: absolute;
    right: 0;
    bottom: 0;
}



.hero-right img {
    width: 570px;
    height: 470px;
    

}



@media (max-width: 900px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-right img {
        width: 520%;
        margin-top: 25px;
        
        
    }
    
}